* {
  margin: 0px;
  padding: 0px;
}
.content {
  display: block;
  width: 95%;
  margin: auto;
  padding: 1em 0em;
  & .content-data {
    display: flex;
    flex-direction: row;
    & .img {
      display: block;
      width: 4em;
      height: 4em;
      margin: auto 0.5em;
      & img {
        width: inherit;
        height: inherit;
        border-radius: 100%;
        padding: 0px 0.5em;
      }
    }
    & .info {
      padding: 0px 0.5em;
      width: 70%;
      border-radius: 10px;
      margin-left: 10px;
      & .header {
        padding: 4px 0px;
        & .name {
          margin-right: 0.5em;
          font-size: 12px;
          font-weight: bold;
          font-size: small;
        }
        & .date {
          color: #4f4e4e;
          font-weight: bold;
          margin: 2px 0px;
        }
      }
    }
  }
}
