.content {
  width: 25em;
  display: block;
  margin: auto;
  border-radius: 1em;
   & .genre {
    display: block;
    text-align: center;
    & span {
      padding: 0px 10px;
      // background: aqua;
      border-radius: 15px;
      margin: 4px;
      color: white;
    }
  }
  & .sub-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    & .img {
      width: 10em;
      height: 10em;
      display: flex;
      margin: auto;
      position: relative;
      & img {
        width: auto;
        height: auto;
        border-radius: 10px;
        margin: 5px;
      }
    }
    & .control{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      .btn{
        margin-top: 3px;
        padding: 0.3em;
        border-radius: 100%;
        justify-content: center;
        display: flex;
        cursor: pointer;
        & span{
          display: contents;
        }
      }
    }
    & .information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      width: 12em;
      text-align: center;
      margin-top: 1em;
      & .name-user {
        color: #4f4e4e;
        font-weight: bold;
        margin: 2px 0px;
        cursor: pointer;
      }
      & .name-song {
        width: inherit;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // margin-left: 1em;
      }
    }
  }
  & .button {
    margin: auto;
    display: flex;
    justify-content: end;
  }
}
.hide {
  display: none;
}
.giro {
  -webkit-animation: rotate-center 3s linear infinite both;
  animation: rotate-center 3s linear infinite both;
}
.bagget{
  display: block;
  background: white;
  text-align: center;
  border-radius: 15px;
  position: relative;
  top: -3em;
  left: 2.5em;
  font-size: x-small;
  font-weight: bold;
  padding: 0px 5px;
}

.content-play-button {
  position: absolute;
  & button {
    position: relative;
    left: 9em;
    margin: auto;
    top: 3em;
    & mat-icon {
      font-size: 4em;
    }
  }
}
.comment {
	height: 500px;
	overflow: scroll;
	scrollbar-width: none;
	padding: 0px;
	margin: 0px;
  width: 35em;
  & .title{
    color: #4f4e4e;
    font-weight: bold;
    margin: 0px;
    text-align: center;
    margin-top: 1em;
    display: block;
  }
}
