.content {
  width: 25em;
  display: block;
  -webkit-box-shadow: 4px 1px 9px 1px #b6b6b6;
  box-shadow: 4px 1px 9px 1px #b6b6b6;
  margin: auto;
  border-radius: 1em;
   & .genre {
    display: block;
    text-align: center;
    & span {
      padding: 0px 10px;
      // background: aqua;
      border-radius: 15px;
      margin: 4px;
      color: white;
    }
  }
  & .sub-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    & .img {
      width: 10em;
      height: 10em;
      display: flex;
      margin: auto;
    }
    & img {
      width: auto;
      height: auto;
      border-radius: 100%;
      margin: 5px;
    }
  }
  & .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 12em;
    text-align: center;
    margin-top: 1em;
    & .name-user {
      color: #4f4e4e;
      font-weight: bold;
      margin: 2px 0px;
      cursor: pointer;
    }
    & .name-song {
      width: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // margin-left: 1em;
    }
  }
  & .button {
    margin: auto;
    display: flex;
    justify-content: end;
  }
}
.hide {
  display: none;
}
.giro {
  -webkit-animation: rotate-center 3s linear infinite both;
  animation: rotate-center 3s linear infinite both;
}
.content-play-button {
  position: absolute;
  & button {
    position: relative;
    left: 9em;
    margin: auto;
    top: 3em;
    & mat-icon {
      font-size: 4em;
    }
  }
}
