<div class="content bg shadow">
    <div class="sub-content ">
      <div class="img">
        <img [src]="data.artwork_url == null ? 'assets/images.png' : data.artwork_url " alt="">
      </div>
      <div class="giro"></div>
      <div class="information">
        <span class="name-user secondary-color" (click)="goArtist(data.user_id)">{{data.user.username}}</span>
        <span class="name-song ">{{data.title}}</span>
        <span class="bagget">{{data.genre}}</span>
      </div>
      <div class="button">
        <button mat-button (click)="play(data.id)">
          <div *ngIf="loadding" class="spinner_form_1 giro">
          </div>
          <mat-icon>{{!status.isPause ? 'pause' : 'play_arrow'}}</mat-icon>
        </button>
      </div>
    </div>
    <div>

    </div>
</div>

